
{% extends "invigilator/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Exam Timetable {% endblock %}

{% block content %}
    <!-- Main Content -->
    <div id="content" class="printable-form">
        <div class="row" id="printableContent">
            <div class="col-lg-12">
                                    
                <section class="section">
                    <h2 style="text-align:center;">EXAMHALL DETAILS</h2>

                    <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                        <div class="card-body">
                                
                                {% for exam_room in exam_rooms %}
                                <ul> <a href="{% url 'examroom_details' examroom_id=exam_room.id %}">
                                {{ exam_room.id }}  :  {{ exam_room.name }}  {{ exam_room.venue }}
                </a>
                                </ul>{% endfor %}
                        </div>
                        </div>

                    </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}