{% extends "invigilator/main.html" %}
{% block content%}


    <!-- Main Content -->
    <div id="content" class="printable-form">
      <div class="row" id="printableContent">
          <div class="col-lg-12">
              <section class="section">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card">

                            <div class="card">
                              <div class="card-body">
                                      <a href=""class="logo d-flex align-items-center w-auto">
                                        <h1> Username: {{ ' ' }}<strong >{{ user.username }} </strong></h1>
                                        <img src="{{ request.user.invigilator.profile_pic.url }}" alt="">
                                        {% comment %} <span class="d-none d-lg-block">ACCOUNT</span> {% endcomment %}
                                      </a>
                                      
                                {% comment %} <img src="{{ request.user.invigilator.profile_pic.url}}" class="profile_image" alt="profile_image"> {% endcomment %}
                                <h5 class="card-title">NAME:  {{ invigilator.get_name }} {{ invigilator.middle_name }} </h5>
                                <h5 class="card-title">ADDRESS: {{ invigilator.address }} </h5>
                                <h5 class="card-title">HALL: {{ invigilator.mobile}} </h5>
                                    <div class="d-flex justify-content-center py-4">
                                </div> 
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>

{% endblock %}