{% extends "main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Exam Timetable {% endblock %}

{% block content %}
    <!-- Main Content -->
    <div id="content">
        <div class="row" id="printableContent">
            <div class="col-lg-12">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <!-- Centered Message Container -->
                    <div class="centered-message-container">
                        <div class="centered-message">
                            <img src="{% static 'img/apple-touch-icon.png' %}" alt="Logo">
                            <h1>YABA TECH EXAM MANAGEMENT</h1>
                        </div>
                    </div>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </nav>
                <!-- End of Topbar -->
                <style>
                    @media print {
                        body * {
                            visibility: hidden;
                        }
                        .printable-form, .printable-form * {
                            visibility: visible;
                        }
                        .printable-form {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                        }
                    }
                    
                </style>
                <script>
                    function printForm() {
                        window.print();
                    }
                    </script>
                    

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 style="text-align:center;"><SCHEDULE/h2>
                                    <!-- Print Button -->
                                    <button onclick="printForm()" class="btn btn-primary" style="margin-bottom: 20px;">Print Form</button>
                                    <div class="printable-form">
                                      <table class="table">
                                        <thead class="text-info">
                                          <th>Day</th>
                                          <th>Date</th>
                                          <th>Course</th>
                                          <th>Type</th>
                                          <th>Start time</th>
                                          <th>End time</th>
                                          <th>Venue</th>
                                          <th>Actions</th>
                                        </thead>
                                        <tbody>
                                          {% for exam in exam %}
                                            <tr>
                                              <td class="text-success text-capitalize">{{exam.get_day}}</td>
                                              <td>{{exam.date}}</td>
                                              <td><span class="font-weight-bold">{{exam.course.course_code}}</span>: {{ exam.course.course_name }}</td>
                                              <td><span class="font-weight-bold {% if exam.type == 'cbt' %}text-uppercase{% endif %}">{{exam.type}}</span></td>
                                              <td class="text-uppercase">{{exam.start_time}}</td>
                                              <td class="text-uppercase">{{exam.end_time}}</td>
                                              <td>{% if exam.venue.name %} {{exam.venue.name}} {% else %} Venue not set {% endif%}</td>
                                              <td class="td-actions">
                                                <a href="{% url 'admin-schedule-edit-each' exam.id %}">
                                                  <button type="button" rel="tooltip" title="Edit Schedule" class="btn btn-success btn-link btn-sm">
                                                    <i class="material-icons">edit</i>
                                                  </button>
                                                </a>
                                                <a href="{% url 'admin-delete-schedule' exam.id %}">
                                                  <button type="button" rel="tooltip" title="Remove Schedule" class="btn btn-danger btn-link btn-sm">
                                                    <i class="material-icons">close</i>
                                                  </button>
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                      
                                      
                                      {% endfor %}
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
